.mui-form {
  legend {
    margin-bottom: 0;
  }

  .mui-textfield--with-error {
    margin-bottom: 0;
  }
  .mui-textfield-invalid {
    select + label {
      color: $mui-text-danger;
    }
  }

  .textfield-correct {
    & > input, select {
      border-color: $mui-accent-color;
      border-width: 2px;
    }

    & > label {
      color: $mui-accent-color!important;
    }
  }

  .selectfield-invalid {
    & > select {
      border-color: $mui-text-danger;
      border-width: 2px;
    }
  }

  .selectfield-correct {
    & > select {
      border-color: $mui-accent-color;
      border-width: 2px;
    }

    & > label {
      color: $mui-accent-color!important;
    }
  }

  .mui-textfield--error-text {
    color: $mui-text-danger;
    margin: 5px 0;
    font-size: 12px;
    min-height: 17px;
  }

  .mui-textfield--hint-text {
    color: $mui-text-dark-secondary;
    margin: 5px 0;
    font-size: 12px;
    min-height: 17px;
  }

  .support-link {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    color: $mui-text-dark-secondary;
  }

  .mui-textfield:first-of-type {
    margin-top: 10px;
  }

  .mui-btn {
    font-size: 12px;
  }
}

.btn--fullwidth {
  width: 100%;
}