#hero-landing {
  color: white;
  text-align: center;
  margin-bottom: -5rem;
  #swift {
    height: 25rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(-7rem);
  }
  .hero-title {
    color: white;
    position: relative;
    top: -7rem;
  }
}


