#hero-landing {
  margin-top: 48px;
  position: fixed;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  #swift {
    height: 15rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: -5rem;
  }
  .hero-title {
    color: black;
    position: relative;
    top: -5rem;
  }
}


