#hero-landing {
  color: white;
  text-align: center;
  #swift {
    height: 35rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(-7rem);
  }
  .hero-title {
    color: black;
    position: relative;
    top: -5rem;
  }
}


