.page {
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.page-content {
  margin-top: 48px;
}

.orange-banner {
  background-color: $mui-primary-color;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  height: 20rem;
}

.orange-banner--large {
  height: 30rem;
}

/* SCROLL SCREEN */


.overlay-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.screen-wrapper {
  height: 100vh;
  overflow: hidden;
}

.scroll-screen {
  overflow: hidden;
}
