.menu-enter {
  transform-origin: top right;
  transform: scale(0);
  overflow: hidden;
}

.menu-enter.menu-enter-active {
  transform: scale(1);
  transition: all 150ms ease-in;
}

.menu-leave {
  opacity: 1;
}

.menu-leave.menu-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}


.menu {
  display: block;
  transform-origin: top right;
  transition: all 200ms ease-in;
  overflow: hidden;
  opacity: 0;

  &.menu-entering {
    transform: scale(0);
  }
  
  &.menu-entered {
    transform: scale(1);
    opacity: 1;
  }

  &.menu-exiting {
    opacity: 1;
  }

  &.menu-exited {
    transform: scale(0);
    opacity: 0;
  }
}
