@keyframes fromLeft {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fromRight {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}

.from-left {
  animation: fromLeft 0.3s ease-in;
}

.from-right {
  animation: fromRight 0.3s ease-in;
}


.page-transition {
  width: 100vw;
  overflow-x: hidden;
}

.page-container {
  width: 200vw;
  display: flex;
}

.bubble-wrapper {
  position: relative;
}

.bubble {
  height: 3rem;
  width: 3rem;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: $mui-primary-color;
  z-index: 10;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 300ms ease-out;
  
  &.bubble-exiting {
    transform: scale(35);
  }
}