@import "node_modules/muicss/lib/sass/mui-colors.scss";

$mui-primary-color:       mui-color('orange', '700');
$mui-primary-color-dark:  mui-color('orange', '500');
$mui-primary-color-light: mui-color('orange', '900');

$mui-accent-color:        mui-color('green', 'A200');
$mui-accent-color-dark:   mui-color('green', 'A100');
$mui-accent-color-light:  mui-color('green', 'A400');

$white:                   mui-color('white');

@import "node_modules/muicss/lib/sass/mui.scss";


.mui--bg-primary {
  color: $white;

  a {
    color: $white;
  }
}

.page {
  min-height: 100vh;
  overflow-x: hidden;
}

.page-content {
  margin-top: 48px;
}

.orange-banner {
  background-color: $mui-primary-color;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  height: 20rem;
}

.orange-banner--large {
  height: 30rem;
}

@import "transitions";
@import "home";
@import "forms";